# EditorConfig is a file format that helps maintain consistent coding styles
# across different editors and IDEs.
# https://editorconfig.org/

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Markdown-specific settings
[*.{md,mkd}]
trim_trailing_whitespace = false
