/cache
/file-history
/history.jsonl
/ide
/local
/plans
/plugins
/projects
/shell-snapshots
/statsig
/tasks
/todos
stats-cache.json
/paste-cache
/teams
/session-env
/scripts
/user-data
/security_warnings_state_*.json
/agent-memory
/debug

# skills内のusadamasa-プレフィックスがないフォルダを無視
/skills/*/
!/skills/usadamasa-*/
