/cache
/file-history
/history.jsonl
/ide
/local
/plans
/plugins
/projects
/shell-snapshots
/statsig
/todos
stats-cache.json
/paste-cache

# skills内のusadamasa-プレフィックスがないフォルダを無視
/skills/*/
!/skills/usadamasa-*/
